@model PruebaTecnica.Models.Conductore

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conductore</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dpi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dpi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenciaVigente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenciaVigente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoLicencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoLicencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibilidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoRequerido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoRequerido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoAyudantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoAyudantes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViaticosEquipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViaticosEquipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GastosRequeridos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GastosRequeridos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVehiculoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVehiculoNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
