@model PruebaTecnica.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatenteComercio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatenteComercio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehiculoAsignado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiculoAsignado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentajeCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentajeCargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionCarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionCarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionEntregaCarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionEntregaCarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentacionCarga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentacionCarga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVehiculoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVehiculoNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
